@media (width: 300px){ 
    .header{
        width: 190px;
    }
    .conteiner-box{
        width: 200px;
    }
    .conteiner-grid{
        display: grid;
        grid-template-columns: repeat(3, 120px);
    }
}