@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header {
    margin: auto;
    width: 25%;
    max-height: 100px;
    padding: 1rem;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(155, 152, 152);
    border-radius: 10px;
}
.header img{
  float: right;
  margin-left: 10%;
  width: 50%;
}
.header h3{
  font-size: small;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header h1{
  font-size: 200%;
    -webkit-text-stroke: 2px rgb(209, 207, 207);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:initial;
}

